* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 300ms;
  transition-timing-function: ease-in;
}
body {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background-color: var(--overallBackground);
}

/* =======================Header======================= */
body header {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding-inline: 1vw;
}
body header ion-icon{
  cursor: pointer;
  scale: 1.2;
}
body header h3{
  font-family: "waterfall";
  text-shadow: 0 0 5px var(--primaryColor);
  font-size: 40px;
}
body header > form {
  display: flex;
  gap: 10px;
  height: 40px;
  border-radius: 20px;
  background-color: var(--formBackground);
  box-shadow: 0 0 10px 10px var(--black);
  box-shadow: 0 0 5px 1px var(--black);
}
body header > form *{
  border: 0;
  height: 100%;
}
body header > form select {
  width: 12vw;
  padding-inline: 10px;
  border: 0;
}

/* Departure Input */
body header > form select:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* Destination Input */
body header > form select:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Search Button */
body header > form .input {
  width: 40px;
  border-radius: 50%;
  padding-inline: 5px;
  background-color: var(--primaryColor);
}
body header > form .input ion-icon{
  height: 50%;
  width: 50%;
}
body header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 15px;
}
body header > div #user{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  border-radius: 20px;
  padding-block: 5px;
  padding-inline: 10px;
  box-shadow: 0 0 10px 0 var(--black);
}
body header > div ion-icon {
  color: var(--black);
  height: 20px;
  width: 20px;
}
#dropDown button{
  display: flex;
  position: absolute;
  align-items: center;
  gap: 5px;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
  padding-block: 5px;
  padding-inline: 10px;
  border: 0;
  box-shadow: 0 0 10px 0 var(--black);
  background-color: #fff;
  cursor: pointer;
}

#dropDown button{
  padding: 0;
  height: 0;
  color: transparent;
}
#dropDown ion-icon{
  color: transparent;
}


/* ============================SideBar============================ */
body #sideBar {
  overflow: hidden;
  width: 20%;
}
body #sideBar h3 {
  text-align: center;
}
body #sideBar #matatuOptions {
  height: 100%;
  overflow-y: scroll;
}
body #sideBar #matatuOptions #matatuOption {
  display: flex;
  margin-block-start: 2vh;
  border-radius: 15px;
}
body #sideBar #matatuOptions #matatuOption:hover {
  background-color: var(--primaryColor);
}
body #sideBar #matatuOptions #matatuOption img {
  max-width: 70px;
  border-radius: 20%;
}
body #sideBar #matatuOptions #matatuOption #details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5%;
  width: 100%;
}
body #sideBar #matatuOptions #matatuOption #details #departure_name{
  font-family: 'Times New Roman', Times, serif;
}
body #sideBar #matatuOptions #matatuOption #details #price{
  font-family: 'Times New Roman', Times, serif;
}
body #sideBar #matatuOptions #matatuOption #details #starsDiv{
  display: flex;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
}
body #sideBar #matatuOptions #matatuOption #details #starsDiv p{
  margin-inline-end: 5px;
  font-size: 14px;
}
body #sideBar #matatuOptions #matatuOption #details #starsDiv #stars {
  display: flex;
}
body #sideBar #matatuOptions #matatuOption #details #starsDiv #stars .starRating {
  display: flex;
  font-size: 16px;
  cursor: pointer;
}

.starRating:hover, .starRating.active, .feedbackstarRating:hover, .feedbackstarRating.active {
  color: var(--orange);
}

body #sideBar, main {
  margin-block-start: 10vh;
  padding-inline: 1vw;
}
main {
  width: 80%;
  height: 89vh;
  border-radius: 20px;
  margin-inline: 10px;
  /* margin-block-start: 8vh; */
  border: solid 2px var(--darkText);
  background-color: var(--white);
}