main {
    display: flex;
    width: 80%;
    justify-content: center;
    padding: 1%;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}
.form > div{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 2%;
}
.form > div input, .form > div select{
    height: 2.5em;
    border: solid 1px var(--black);
    border-radius: 0.5em;
    padding-inline: 1%;
}
.form > .submit{
    height: 2em;
    min-width: auto;
    padding-inline: 1%;
}

#stars {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transform: rotateZ('90deg');
    width: 100%;
}

.star {
    font-size: 30px;
    cursor: pointer;
}

.star:hover, .star.active {
    color: orange;
}