* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  transition: 300ms;
}
@font-face {
  font-family: "Anurati";
  src: url(/fonts/WeddingdayPersonalUseRegular-1Gvo0.ttf);
}

body {
  height: 100vh;
  display: flex;
  background-color: var(--overallBackground);
}
body header {
  display: flex;
  position: absolute;
  width: 100%;
  top: 0%;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1vw;
  height: 7vh;
  padding-block: 2vh;
  z-index: 1;
  background-color: var(--overallBackground);
}
body header h3 {
  font-family: "waterfall";
  text-shadow: 0 0 5px var(--primaryColor);
  font-size: 40px;
}
body header #selectedMatatu {
  /* font-family: "Times New Roman", Times, serif; */
  /* font-family: 'Neonderthaw'; */
  font-size: 5vh;
}

body header > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 15px;
}
body header > div #user {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
  border-radius: 20px;
  padding-block: 5px;
  padding-inline: 10px;
  box-shadow: 0 0 10px 0 var(--black);
}
body header > div ion-icon {
  color: var(--black);
  height: 20px;
  width: 20px;
}
#dropDown button {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 5px;
  width: 100%;
  z-index: 1;
  border-radius: 5px;
  padding-block: 5px;
  padding-inline: 10px;
  border: 0;
  box-shadow: 0 0 10px 0 var(--black);
  background-color: #fff;
  cursor: pointer;
}

#dropDown button {
  padding: 0;
  height: 0;
  color: transparent;
}
#dropDown ion-icon {
  color: transparent;
}


/* =====================SideBar===================== */

body #sideBar {
  height: 93vh;
  width: 20%;
  padding-block-start: 0.5vw;
  padding-block-end: 1vw;
  padding-inline: 1vw;
  z-index: 0;
  background-color: var(--overallBackground);
}
body #sideBar > div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
}
body #sideBar > div ion-icon{
  height: 100%;
  width: 12%;
  cursor: pointer;
}
body #sideBar > .links {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  gap: 5%;
  padding-block: 2vh;
  padding-inline: 1vw;
  margin-block: 1vh;
  height: 50px;
  border-radius: 10px;
}
body #sideBar > .links:hover {
  background-color: var(--white);
  box-shadow: 2px 2px 5px 0 var(--black);
}
body #sideBar > .links:hover::before {
  content: ' ';
  position: absolute;
  width: 5px;
  height: 50%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 0;
  background-color: var(--primaryColor);
}
body #sideBar > .links:hover ion-icon{
  color: var(--primaryColor);
}
body #sideBar > .links:hover span{
  color: var(--primaryColor);
}
body #sideBar > .links ion-icon{
  display: flex;
  height: 100%;
  width: 15%;
}
body #sideBar > .links span {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}
body #sideBar,
main {
  margin-block-start: 7vh;
  padding-inline: 1vw;
}
body main {
  width: 80%;
  height: 91vh;
  padding-block-start: 1vw;
  border-radius: 20px;
  margin-inline: 10px;
  margin-block-start: 8vh;
  border: solid 2px var(--darkText);
}